<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="49bfa645-f318-4b1e-b659-557ef3906dd2" Publisher="CN=Apress" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BW8AGU.Samples.CSharp</DisplayName>
    <PublisherDisplayName>Apress</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BW8AGU.Samples.CSharp.App">
      <m2:VisualElements DisplayName="BW8AGU.Samples.CSharp" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="BW8AGU.Samples.CSharp" ForegroundText="light" BackgroundColor="#ffffff">
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#ffffff" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="SampleBackgroundTask.DownloadMessagesBackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="musicLibrary" />
    <Capability Name="picturesLibrary" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>